@tailwind base;

@tailwind components;

@tailwind utilities;

// Variables
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-wrapper {
    box-shadow: 2px 2px 18px 1px rgba(0,0,0,0.38);
}

.form-wrapper > div:first-child {
    background-image:
            linear-gradient(90deg, rgba(225,225,225, 0.6) 0%, rgba(214,214,214, 0.6) 46%, rgb(246, 247, 255) 100%),
            url("../images/person-mixing-cereal-milk-and-strawberry-jam-on-white-704971.jpg");
    background-position: center, center;
    background-size: cover;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 100% 100%);
}

a.active {
    font-weight: bold;
    color: #63b3ed;
}

.btn {
    @apply px-4 py-2 border rounded-lg;

    &-primary {
        @apply text-blue-400 border-blue-400;

        &:hover {
            @apply text-white bg-blue-400;
        }
    }

    &-success {
        @apply text-green-400 border-green-400;

        &:hover {
            @apply text-white bg-green-400;
        }
    }

    &-danger {
        @apply text-red-400 border-red-400;

        &:hover {
            @apply text-white bg-red-400;
        }
    }
}
